/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --primary-turquoise: #17A398;
    --primary-gold: #64c972;

    --neutral-white: #FFFFFF;
    --neutral-light-gray: #F5F5F5; /* Background */
    --neutral-medium-gray: #AAAAAB;
    --neutral-dark-gray: #222222;

    --extra-soft-gray: #EFEFEF;
    --extra-accent-gray: #818181;
    --extra-almost-black: #191919;
    
    --background-home: linear-gradient(135deg, #F5F5F5, #c2c2c2);

}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

/* Fondo de la barra de scroll */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px; 
}

/* Barra de scroll */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Cambio de color al pasar el ratón sobre la barra de scroll */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}